name: pytest_test

jobs:
  push-job:
    name: push
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v3
    - name: assert
      run: |
        pip3 install -r requirements.txt
        python3 server.py > log.txt 2>&1 &
        pytest